body
{
    margin: 0;
    padding: 0;
    background-color: rgb(199, 129, 38);
}
/*navigation*/
ul
{
  display:flex;
  list-style-type: none;
  gap:25px;
}
.conteiner
{
    display:flex;
    gap:25px;
}
img
{
    width: 400px;
}
h1
{
    color:#fff;
    text-align: center;
}
p
{
    color: #fff;
}